# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
connections.toml

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Environment Files
.env

# Private Keys
*.pem
*.p8
*.key

# Python Cache
.pytest_cache/
.mypy_cache/

# Build Files
build/
dist/

# OS Files
Thumbs.db